@import "tailwindcss";
:root {
  --main-font: "Poppins", "Inter", sans-serif;
}

body {
  font-family: var(--main-font);
}

.hover-playwrite:hover {
  font-family: "Playwrite CZ", cursive !important;
}

html.has-scroll-smooth body {
  position: static !important;
  transform: none !important;
}
